<h1>Hi, I'm Andy</h1>
<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag 'profile.jpeg', width: 300, alt: "profile image" %>
  </div>
  <div class="col-md-8">
    <p>I'm a web developer focused on developing applications with Ruby on Rails. I am also learning to build applications using React and learning how to combine React and Rails to build cutting edge applications for the modern world.</p>
  </div>
</div>