<h1>Hi, I'm Andy</h1>
<p>I'm a web developer focused on developing applications with Ruby on Rails. I am also learning to build applications using React and learning how to combine React and Rails to build cutting edge applications for the modern world.</p>