<div class="inner cover">
  <h1 class="cover-heading">Welcome</h1>
  <p class="lead">Thank you for visiting my portfolio site. Please feel free to look around at all my content. You can learn more about me personally, view some projects I've developed or read some things I've shared with the world on my blog.</p>
  <p class="lead">
  <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>